* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #111;
    color: #eee;
}

.container {
    width: 80%;
    margin: 40px auto;
    text-align: center;
}

.title {
    margin: 20px 0;
    color: #4da6ff;
    font-size: 35px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;
    background-color: #1b1b1b;
    border: 1px solid #444;
}

th,
td {
    border: 1px solid #444;
    padding: 12px;
}

th {
    background-color: #222;
    color: #67b3ff;
}

tr:hover {
    background-color: #282828;
}

.btn {
    display: block;
    margin: 30px auto;
    width: fit-content;
    padding: 10px 18px;
    background: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    margin-bottom: 25px;
    transition: .3s;
}

.btn:hover {
    transform: scale(1.05);
    background: #ff0066;
}

@media screen and (max-width: 768px) {
    .container {
        width: 95%;
        margin: 20px auto;
    }

    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .btn {
        margin: 30px auto;
        display: block;
        width: fit-content;
    }
}