* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #1c1c1c;
    color: #ccc;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: #111;
}

.navbar .logo {
    color: #fff;
}

.navbar button {
    display: inline-block;
    margin: 2px 50px 10px 170px;
    padding: 10px 18px;
    background: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    margin-bottom: 25px;
    transition: .3s;
}

.navbar button:hover {
    transform: scale(1.05);
    background: #b4b4b4;
}



/* About Section */
.about {
    padding: 60px 80px;
}

.about-container {
    display: flex;
    gap: 40px;
    align-items: center;
}

/* Image */
.about-img {
    position: relative;
}

.about-img img {
    width: 460px;
    height: 620px;
    object-fit: cover;
    border-radius: 8px;
}

.about-img button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: #fff;
    border: none;
    padding: 8px 14px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 4px;
}

/* Text */
.about-text {
    max-width: 600px;
    line-height: 1.7;
    font-size: 14px;
    margin-left: 170px;
}

@media screen and (max-width: 1024px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-text {
        margin-left: 0;
        margin-top: 30px;
    }

    .about-img img {
        width: 100%;
        height: auto;
        max-width: 460px;
    }

    .navbar {
        padding: 20px 40px;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        padding: 15px;
        flex-direction: column;
        gap: 15px;
    }

    .navbar button {
        margin: 0;
    }

    .about {
        padding: 40px 20px;
    }
}